<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestRestLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestRestLibrary.Properties.Settings>
            <setting name="global_url" serializeAs="String">
                <value>http://localhost:8001/dp2library/rest/</value>
            </setting>
            <setting name="login_userName" serializeAs="String">
                <value />
            </setting>
            <setting name="login_password" serializeAs="String">
                <value />
            </setting>
            <setting name="writeRes_respath" serializeAs="String">
                <value />
            </setting>
            <setting name="getReaderInfo_barcode" serializeAs="String">
                <value />
            </setting>
            <setting name="getReaderInfo_resultTypeList" serializeAs="String">
                <value />
            </setting>
            <setting name="setReaderInfo_action" serializeAs="String">
                <value />
            </setting>
            <setting name="setReaderInfo_resPath" serializeAs="String">
                <value />
            </setting>
            <setting name="setReaderInfo_newXml" serializeAs="String">
                <value />
            </setting>
            <setting name="setReaderInfo_oldXml" serializeAs="String">
                <value />
            </setting>
            <setting name="setReaderInfo_oldTimestamp" serializeAs="String">
                <value />
            </setting>
        </TestRestLibrary.Properties.Settings>
    </userSettings>
</configuration>